button {
  padding: 10px;
  &.light {
    background: var((--color-light));
    border: 2px solid var(--color-dark);
    &:active:hover:not([disabled]) {
      background: var(--color-dark);
      color: var(--color-light);
    }

    &:hover,
    &:active {
      &:not([disabled]) {
        background: var(--color-dark);
        color: var(--color-light);
      }
    }

  }

  &.dark {
    background: var(--color-dark);
    color: var(--color-light);
    border: 2px solid var(--color-dark);
    &:hover {
      background: var(--color-light);
      border: 2px solid var(--color-dark);
      color: var(--color-dark);
    }
  }
}
