.formContainer {
  padding: 20px;
  flex: 1;

  border-right: 2px solid var(--color-dark);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .form-title {
    font-weight: var(--fw-900);
  }

  .form-content {
    width: 100%;

    &-item {
      display: flex;
      flex-direction: column;
      margin: 10px 0;
      label {
        font-weight: var(--fw-500);
      }

      input {
        padding: 5px;
      }
    }

    &-item-term {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .form-buttons {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    button {
      width: 60%;
      margin: 0 auto;
    }
    p {
      width: 100%;
      padding: 10px;
      cursor: pointer;
      text-align: center;
    }
  }
}
