.tbContainer {
  flex: 2;
  padding: 20px;

  .tb-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    button {
      width: 80%;
      margin: 0 auto;
    }
  }

  .tb-content {
    margin: 20px 0;
    table {
      width: 100%;
      border: 2px solid var(--color-dark);

      border-collapse: collapse;
      text-align: center;

      thead,
      th {
        border: 2px solid var(--color-dark);
        padding: 5px;
      }

      tbody,
      td {
        border: 2px solid var(--color-dark);
        padding: 5px;
      }
    }
  }
}
