@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
:root {
  --color-dark: #111;
  --color-light: #fff;

  --fw-300: 300;
  --fw-500: 500;
  --fw-700: 700;
  --fw-900: 900;

  --transition: 0.5s ease;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

button {
  width: max-content;
  cursor: pointer;
  transition: var(--transition);
  border: none;
  display: block;
}

input,
textarea {
  font: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
}
